.table{
  width: 100%;
}

.table thead{
  color: black;
  background-color: burlywood;
}

.table-dark {
  color: red;
  border: 1px solid black;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: gray;
}

.table-striped thead tr:nth-child(odd) {
  background-color: gray;
}

.table-striped tbody tr:nth-child(even) {
  background-color: orange;
}

.table-striped thead tr:nth-child(even) {
  background-color: orange;
}
