body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-colors-primary: yellow;
  --main-colors-secondary: orange;
  --main-colors-success: orange;
  --main-colors-danger: red;
  --main-colors-warning: red;
  --main-colors-info: red;
  --main-colors-light: red;
  --main-colors-dark: red;
  --main-colors-link: red;
  --main-colors-filler: gray;
  --main-colors-border: black;
  --main-colors-shadow: lightgray;
  --main-colors-bg-primary: teal;
  --main-colors-bg-secondary: teal;
}